<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>,</h1>
    <p>
      You have successfully changed your account details.<br>
      Your username is: <%= @user.name %>.<br>
      To sign in, use your email, <%= @user.email %> and your new password.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
